body, html {
    height: 100%;
    margin: 0;
}
body {
    color: rgb(red, rgb(20, 145, 20), blue);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
.jumbotron {

}




}
#validationError {
    color: rgb(20, 99, 145);
    padding-top: 2%;
}
th, td {
    text-align: center;
}
#current-trains {
    margin-bottom: 30px;
    margin-top: 30px;
}